In [21]:
import pandas as pd
import random
import sqlalchemy

In [2]:
import json

In [4]:
with open('source_data/California_78_to_82.geojson') as f:
    cali_shape=json.load(f)

In [7]:
cali_shape_list=[]
for each_feature in cali_shape['features']: 
    cali_shape_list.append(each_feature['geometry']['coordinates'])

In [9]:
df=pd.DataFrame({'coordinates': cali_shape_list})
df.head()

                                         coordinates
0  [[[-118.61055, 36.73901], [-118.55965, 36.7391...
1  [[[[-119.57574, 33.27783], [-119.57564, 33.277...
2  [[[-118.16797, 34.12346], [-118.16806, 34.1238...
3  [[[-118.25701, 34.12122], [-118.2542, 34.1188]...
4  [[[-118.26369, 33.98924], [-118.26414, 33.9892...

In [19]:
for idx, each_row in df.iterrows(): 
    df.loc[idx, 'value']=random.randint(0, 100)

In [20]:
df

                                          coordinates  value
0   [[[-118.61055, 36.73901], [-118.55965, 36.7391...   94.0
1   [[[[-119.57574, 33.27783], [-119.57564, 33.277...   28.0
2   [[[-118.16797, 34.12346], [-118.16806, 34.1238...   11.0
3   [[[-118.25701, 34.12122], [-118.2542, 34.1188]...   23.0
4   [[[-118.26369, 33.98924], [-118.26414, 33.9892...   70.0
5   [[[-118.30931, 34.1306], [-118.30931, 34.12698...   55.0
6   [[[-118.45462, 33.95838], [-118.45462, 33.9583...   78.0
7   [[[[-118.4262, 32.79972], [-118.42634, 32.7995...   91.0
8   [[[[-118.18123, 33.75968], [-118.18137, 33.759...   20.0
9   [[[-118.24775, 33.98827], [-118.24775, 33.9885...   36.0
10  [[[[-122.42468, 37.87053], [-122.42288, 37.867...   45.0
11  [[[-118.66796, 34.21908], [-118.66799, 34.2202...   43.0
12  [[[-117.21, 35.79518], [-117.15824, 35.79547],...   65.0
13  [[[[-117.88846, 33.60577], [-117.88834, 33.605...   41.0
14  [[[[-117.37077, 33.49073], [-117.36337, 33.488...   24.0
15  [[[-123.50117, 42.00051], [-123.4989, 42.00047...   10.0
16  [[[[-121.79004, 38.02309], [-121.78934, 38.023...   21.0
17  [[[[-122.38078, 37.76023], [-122.38084, 37.760...   20.0
18  [[[-122.44854, 37.77267], [-122.44836, 37.7726...   22.0
19  [[[[-122.28518, 37.76793], [-122.28438, 37.767...  100.0
20  [[[-122.31088, 37.89782], [-122.30948, 37.8978...    0.0
21  [[[[-122.3376, 37.10966], [-122.33741, 37.1094...   34.0
22  [[[-120.62045, 37.80796], [-120.60991, 37.8002...   74.0

In [22]:
engine=sqlalchemy.create_engine('sqlite:///data/db.sqlite')

In [30]:
df['coordinates']=df['coordinates'].astype('str')

In [31]:
df.to_sql('data', if_exists='replace', index=False, con=engine)